<div class="container">

        <p-fieldset legend="Prestador de Serviço">

          <form #formulario="ngForm" (ngSubmit)="salvar(formulario)" >
            <div class="ui-g ui-fluid" >

                <div class="ui-g-12 ui-md-6 ui-lg-2">
                        <label for="codigo">CPF/CNPJ:</label>
                        <input id="codigo" required minlength="11" maxlength="14" pInputText name="codPrestador" [(ngModel)]="prestador.codPrestador" #codPrestador="ngModel"/>
                        <div *ngIf="codPrestador.hasError('required') && codPrestador.touched">Informe o código do prestador!</div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-5">
                  <label for="nome">Nome:</label>
                  <input  id="nome" required minlength="10"  name="nomePrestador" pInputText [(ngModel)]="prestador.nomePrestador" />
                </div>
            </div>
            <div class="ui-g ui-fluid" >
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                  <label for="telefone">Telefone:</label>
                  <input  id="telefone" required minlength="11" maxlength="11"  name="telefone"
                  pInputText  [(ngModel)]="prestador.telefone" #telefone="ngModel"/>
                  <div *ngIf="telefone.hasError('required') && telefone.touched">Informe um telefone!</div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-lg-3">
                    <label for="modalidade">Modalidade:</label><br>
                    <p-dropdown id="modalidade" required name="modalidade" [options]="modalidades" [(ngModel)]="prestador.modalidade">
                      </p-dropdown>

                </div>
            </div>
              <div class="ui-g" >
                <div class="ui-g-12">
                    <button type="submit" [disabled]="!formulario.valid" pButton icon="fa-check" label="Salvar"></button>
                    <button type="button" pButton icon="fa-close" label="Fechar"></button>
                </div>
              </div>

            </form>
        </p-fieldset>
</div>

