<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <div> <!-- Inicio -->

            <ul class="menu clearfix">
              <li>
                <a href="#"><i class="fa fa-bars"></i></a>

                <ul class="sub-menu clearfix icone">
                  <li>
                    <a href="#">Cadastro</a>

                    <ul class="sub-menu">
                      <li><a routerLink="prestador">Prestador de Serviço</a></li>
                      <li><a routerLink="prestador">Beneficiário</a></li>
                    </ul>

                  </li>
                  <li>
                    <a href="#">Movimentação</a>
                    <ul class="sub-menu">
                      <li><a href="#">Notas Fiscais</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Processamento</a>
                    <ul class="sub-menu">
                      <li><a href="#">Processar Benefícios</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Relatórios</a>
                    <ul class="sub-menu">
                      <li><a href="#">Operacionais</a></li>
                      <li><a href="#">Gerenciais</a></li>
                    </ul>
                  </li>
                  <li>
                    <a routerLink="">Sair</a>
                  </li>
                </ul>

              </li>

            </ul>
          </div> <!-- Fim Menu -->
          <img src="../assets/logo.jpg" alt="Logo" class="logo">
      </div>
    </div>


  </div>

</nav>
