.navbar{
  background-color: #016838;
  padding: 0;
}

.navbar-toogle{
  color: #fff;
  position: relative;;
  float: left;
}




.menu,
.sub-menu {
  margin: 0;
  padding: 0;
  float: left;
}

.clearfix:after{
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}
.menu,
.sub-menu {
  list-style: none;
  background: #016838;
  z-index: 9999;
}
.sub-menu {
  background: #198d57;
}
.menu a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.menu li {
  position: relative;
}
.menu > li {
  float: left;
}
.menu > li:hover {
  background: #016838;
}
.menu li:hover > .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
  min-width: 150px;
}

.menu ul li > a:after {
  content: '»';
  position: absolute;
  right: 1em;
}

.sub-menu li:hover {
  background: #016838;
}

.sub-menu .sub-menu {
  top: 0;
  left: 98%;
}



