
<div class="container">
    <p-fieldset legend="Prestador de Serviço">

    <div class="ui-g">

        <div class="ui-g-12 ui-fluid">
        <label>Nome:</label>
        <input type="text" #filtro pInputText placeholder="Filtrar prestadores..." >

      </div>

      <div class="ui-g-12">
        <button type="button" pButton icon="fa-plus" label="Novo Prestador" (click)="adicionarPrestador()" ></button>
      </div>

      <div class="ui-g-12">

        <p-dataTable [value]="prestadores" selectionMode="single" [(selection)]="selectedPrestador" [rows]="10" emptyMessage="Prestador não encontrado."
        responsive="true" [paginator]="true" [globalFilter]="filtro" >
          <p-column field="codPrestador" header="Cód. Prestador" styleClass="col-150px" [sortable]="true"></p-column>
          <p-column field="nomePrestador" header="Nome" [sortable]="true"></p-column>
          <p-column field="telefone" header="Telefone" styleClass="col-150px"></p-column>

          <p-column styleClass="col-100px">
              <ng-template let-prestador="rowData" pTemplate="body">
                  <a type="button"  pButton icon="fa-pencil"></a>
                  <button type="button" pButton icon="fa-trash"></button>
              </ng-template>
          </p-column>

        </p-dataTable>

      </div>

    </div>

    </p-fieldset>
  </div>
